@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #343a40;
  background: #f8f9fa;
}

h1,
h2,
h3 {
  font-weight: 700;
}

.section {
  padding: 20px 45px;
}

.blog {
  border: #f9f9f9 solid 2px;
  border-radius: 20px;
  padding: 10px;
}

.back-link {
  text-decoration: none;
  margin: 0 5px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  background: #007bff !important;
  padding: 10px 40px !important;
  font-weight: 600;
  font-size: 1.2rem;
}

nav .navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.8rem;
}

/* Header Section */

header {
  height: 80vh;
  position: relative;
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("./assets/Images/BG.jpg");
}

.overlay {
  background: #000000b6;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.header-content {
  z-index: 1;
  font-size: 23px;
}

.header-content h1 {
  font-size: 3rem;
  font-weight: 900;
}

.button {
  padding: 18px 32px;
  border-radius: 50px;
  background: #007bff !important;
  font-weight: 600;
  font-size: 1.5rem;
  color: #ffffff;
}

.button:hover {
  background: #003cff !important;
  color: #ffffff;
}

.description {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
}

.after {
  display: inline-block;
  background: #007bff;
  width: calc(100% - 220px);
  height: 20px;
}

/* Add blog form */

#add-blog {
  background: linear-gradient(#4a90e2, #50e3c2);
}

form#publishForm {
  background: #007bff;
  color: #ffffff;
  border-radius: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px auto;
  width: 55%;
}

.toogleModal {
  color: #ffffff;
  margin: 0 10px;
}

.toogleModal:hover {
  color: #343a40;
}

.error {
  color: red;
  font-weight: 550;
  font-size: 1.05rem;
  text-align: left;
  margin: 0;
}

form#publishForm h1 {
  margin: 15px;
  font-size: 3rem;
}

form#publishForm input {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  border: none;
}

textarea {
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 20px;
  width: 100%;
}

.input-field {
  margin: 8px 0;
}

.form-btn {
  padding: 0;
  background-color: #ffffff !important;
  color: #007bff;
  text-align: center;
  width: 50%;
  margin: 15px auto;
  height: 60px;
}

/* Blogs Page */

.blog-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../src/assets/Images/Blog.jpg");
  width: 100%;
  height: 400px;
}

.blog-container {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.blog-content {
  padding: 10px 30px;
  background: #ffffff;
}

.author .img {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: #343a40;
  margin-right: 10px;
}

.author {
  flex: 1;
  margin: 20px 0;
  height: 60px;
  display: flex;
  flex-direction: row;
}

.author-details {
  display: inline-block;
}

.author-details p {
  margin: 0;
  font-weight: 500;
}

.author-details p:first-child {
  font-weight: 900;
  font-size: 1.2rem;
}

.link {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.link span {
  margin-right: 5px;
}

.link a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
}

/* CTA section */

.CTA {
  height: 350px;
  position: relative;
  color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./assets/Images/CTA.jpg");
}

.CTA-content {
  z-index: 1;
}

/* Footer Section */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 150px;
  background: #007bff;
  color: #ffffff;
}

.footer p {
  display: block;
}

.icons {
  margin: 25px 0;
}

.icons .a {
  height: 23px;
  width: 23px;
  color: #ffffff;
  margin: 0 70px;
}

/* Modal */

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal .overlay {
  background: #000000b6;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: 0;
}

.modal .modal-content {
  background: #007bff;
  width: 50%;
  z-index: 1;
  padding: 10px;
}

.modal-content input {
  width: 75%;
  margin: 15px 0;
}

.modal-content a {
  width: 100px;
  background-color: #ffffff;
  color: #007bff;
}

.modal-content .response-div {
  margin: 20px 0;
  height: 250px;
  overflow: hidden;
  overflow-y: scroll;
}

.modal-content .X {
  margin: 10px 0;
  color: red;
  height: 15px;
}

.modal-content .res {
  text-align: center;
}

.authorDetails span {
  font-weight: 700;
}

/* Login Form */

#form {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #007bff;
  min-height: 100vh;
}

.form-container {
  background: #ffffff;
  margin: 2rem 0;
  padding: 25px;
  width: 400px;
  border: #000000 2px solid;
  text-align: center;
}

.form-container h1 {
  color: #007bff;
  font-size: 3rem;
  margin-bottom: 15px;
}

.form-container .auth-input {
  text-align: left;
  margin: 20px 0;
  width: 100%;
}

.auth-input input {
  padding: 0 5px;
  width: 100%;
  height: 50px;
  border: solid 2px #564f4f;
}

.form-container button {
  width: 100%;
  background: #007bff;
  color: #ffffff;
  font-size: 1.1rem;
  border: #007bff solid 2px;
  margin: 15px 0;
}

.form-container button:hover {
  border: #007bff solid 2px;
}

.form-container a {
  text-decoration: none;
}

.form-container p {
  margin: 10px;
  font-size: 1.2rem;
  font-weight: 550;
}

.register p {
  font-weight: 550;
  font-size: 1.1rem;
}

/* Welcome Page */

#welcome-header {
  color: #007bff;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#welcome-header h1 {
  font-size: 4rem;
}

/* Features section */

#features-sec {
  padding: 20px 0;
  text-align: center;
  background: #007bff;
  color: #ffffff;
}

#features-sec h2 {
  font-size: 2.5rem;
}

.features {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.features figure {
  text-align: center;
  font-size: 22px;
}

.features .feature-icon {
  font-size: 40px;
  margin: 15px 0;
}

/* CTA Section */

#welcome-CTA {
  color: #007bff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 300px;
}

.welcome-header {
  font-size: 2.5rem;
  font-weight: 900;
}

.welcome-subheader {
  font-size: 1.5rem;
  font-weight: 600;
}

.CTA-btn {
  background: #007bff;
  border: #007bff 2px solid;
  width: 10rem;
  height: 3rem;
  border-radius: 25px;
  color: #ffffff;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CTA-btn:hover {
  border: #007bff 2px solid;
}

@media (max-width: 768px) {
  .modal .modal-content {
    width: 100%;
  }

  form {
    width: 100%;
  }

  .section {
    padding: 10px 15px;
  }
  .icons .a {
    margin: 0 30px;
  }

  .header-content h1 {
    font-size: 2.5rem;
    font-weight: 900;
  }

  .header-content p {
    font-size: 1rem;
  }

  .blog-headline {
    font-size: 1.6rem;
  }

  .author-details p {
    font-size: 1rem;
  }

  .link a {
    font-size: 0.8rem;
    font-weight: 500;
  }

  #welcome-header h1 {
    font-size: 3rem;
  }
}
